<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-CodeFirst-20150703010652.mdf;Initial Catalog=aspnet-CodeFirst-20150703010652;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
